<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<h1 class="text-center">Odin Kittens</h1>

<h2 class="text-center">Kitten Profiles</h2>
<div class="d-flex justify-content-center flex-wrap">
  <% @kittens.each do |kitten| %>
  <div class="d-flex flex-column mx-4 card p-3 my-4">
    <h3 class='text-center'><%= link_to kitten.name, kitten_path(kitten) %></h3>
    <ul>
      <li>Age: <%= kitten.age %></li>
      <li>Cuteness: <%= kitten.cuteness %></li>
      <li>Softness: <%= kitten.softness %></li>
    </ul>
    <br>
    <%= link_to 'Delete', kitten_path(kitten), method: 'DELETE', class: 'text-center' %>
  </div>
  <% end %>
</div>

<p class="text-center mt-5"><%= link_to 'Add New Kitten', new_kitten_path %></p>
