<div class="d-flex flex-column">
  <h1><%= @kitten.name %></h1>
  <ul>
    <li>Age: <%= @kitten.age %></li>
    <li>Cuteness: <%= @kitten.cuteness %></li>
    <li>Softness: <%= @kitten.softness %></li>
  </ul>
</div>

<%= link_to 'Delete', kitten_path(@kitten), method: 'DELETE', class: 'text-center' %>
<br>
<%= link_to 'edit kitten info', edit_kitten_path %>
<br>

<%= link_to 'back', kittens_path %>
