<div class="d-flex flex-column">
  <h1><%= @kitten.name %></h1>
  <ul>
    <li>Age: <%= @kitten.age %></li>
    <li>Cuteness: <%= @kitten.cuteness %></li>
    <li>Softness: <%= @kitten.softness %></li>
  </ul>
</div>

<%= link_to 'edit kitten info', edit_kitten_path %>
